<?xml version="1.0" encoding="UTF-8"  ?>
<!DOCTYPE  configuration  PUBLIC  "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<!-- <setting name="logImpl" value="LOG4J" /> -->
	</settings>

	<typeAliases>
		<!-- 用户类 -->
		<typeAlias alias="User" type="mybatis.dbSelect.model.User" />
		
	</typeAliases>

	<mappers>
		<!-- 系统用户dao -->
		<mapper resource="mybatis/dbSelect/dao/UserMapper.xml" />
		
		<!-- 测试用例dao -->
		<mapper resource="mybatis/tableCreate/dao/TesterMapper.xml" />
	</mappers>

</configuration>

